.tooltip_u {
  position: relative;
  /*display: inline-block;*/
  display: block;
}

.tooltip_u .tooltiptext_u{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip_u .tooltiptext_u::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip_u:hover .tooltiptext_u{
  visibility: visible;
  opacity: 1;
}

/*---------------------*/
.tooltip_d {
  position: relative;
  /*display: inline-block;*/
  display: block;
}

.tooltip_d .tooltiptext_d{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip_d .tooltiptext_d::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip_d:hover .tooltiptext_d{
  visibility: visible;
  opacity: 1;
}

/*-----------------------*/

.tooltip_r {
  position: relative;
  /*display: inline-block;*/
  display: block;
  /*border-bottom: 1px dotted black;*/
}

.tooltip_r .tooltiptext_r {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 115%;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip_r .tooltiptext_r::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.tooltip_r:hover .tooltiptext_r {
  visibility: visible;
  opacity: 1;
}